/* position: initial, inheritance, static, absolute, fixed, relative, sticky */

.parent {
  background: gray;
  min-height: 40vh;
  padding: 1rem;
  font-size: 2rem;
  /* position: static; */
  /* position: absolute; */
}

.parent div {
  min-height: 150px;
}

.c1 {
  background: red;
}

.c2 {
  background: green;
  /* position: relative;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px; */

  /* position: absolute; parent */
  /* top: 50px;
  left: 50px; */
  /* right: 50px;
  bottom: 50px; */

  /* position: fixed;
  top: 50px; */

  position: sticky;
  top: 20px;
}

.c3 {
  background: blue;
}
